---
---

<main
  class="w-[100vw] h-[130vh] mt-[-25rem] md:mt-[-40rem] lg:mt-[-10rem] z-[-2] relative">
  <div
    class="flex lg:w-[70%] w-[70%] space-y-12 lg:space-y-0 flex-col lg:flex-row absolute bottom-[10%] md:bottom-[55%] lg:bottom-[50%] left-1/2 -translate-x-1/2 lg:space-x-10">
    <div
      class="flex flex-col md:flex-row md:space-x-8 lg:flex-col text-center md:text-left text-[#24053E] md:items-center">
      <p
        class="number md:my-auto text-xl border-[1px] mb-6 lg:mb-10 border-[#24053E] w-fit mx-auto px-6 py-4 rounded-full">
        1
      </p>

      <div class="w-full">
        <h1 class="text-2xl mb-3 lg:mb-5">Actionable insights</h1>
        <p class="paragraph">
          Optimize your products, improve customer satisfaction and stay ahead
          of the competition with our product data analytics.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row md:space-x-8 lg:flex-col text-center md:text-left text-[#24053E] lg:text-center md:items-center">
      <p
        class="number md:my-auto text-xl border-[1px] mb-6 lg:mb-10 border-[#24053E] mx-auto px-6 py-4 rounded-full">
        2
      </p>
      <div>
        <h1 class="text-2xl mb-3 lg:mb-5">Data-driven decisions</h1>
        <p class="paragraph">
          Make data-driven decisions with our product data analytics. Our
          AI-generated reports help you unlock insights hidden in your product
          data.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row md:space-x-8 lg:flex-col text-center md:text-left text-[#24053E] lg:text-center md:items-center">
      <p
        class="number md:my-auto text-xl border-[1px] mb-6 lg:mb-10 border-[#24053E] w-fit mx-auto px-6 py-4 rounded-full">
        3
      </p>
      <div>
        <h1 class="text-2xl mb-3 lg:mb-5">Always affordable</h1>
        <p class="paragraph">
          Always affordable pricing that scales with your business. Get
          top-quality product data analytics services without hidden costs or
          unexpected fees.
        </p>
      </div>
    </div>
  </div>
</main>

<style>
  main::before {
    content: "";
    width: 200%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    height: 70%;
    left: -50%;
    position: absolute;
    background: #fcf8ff;
    z-index: -1;
  }

  @media screen and (max-width: 1280px) {
    main::before {
      height: 55% !important;
    }
  }

  @media screen and (max-width: 768px) {
    main::before {
      height: 100% !important;
    }
  }

  .number {
    font-family: "Fraunces", serif;
    font-weight: 600;
  }
  h1 {
    font-family: "Fraunces", serif;
    font-weight: 600;
  }
  .paragraph {
    font-family: "Manrope", sans-serif;
    font-weight: regular;
  }
</style>
