---
import logo from "../../public/images/logo-light.svg";
---

<nav
  class="flex w-[90vw] md:w-[90vw] lg:w-[80vw] flex-row mx-auto text-white justify-between py-10"
>
  <img src={logo} alt="Workit Logo" />
  <a
    href=""
    class="md:text-xl underline-offset-8 underline decoration-[#44FFA1] hover:text-[#44FFA1]"
    >Apply for access</a
  >
</nav>

<style>
  a {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
  }
</style>
